@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #fcfcfc;
}

div {
  margin-top: 15%;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

.icon {
  margin-top: 5%;
  font-size: 10em;
}